<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="img-nav" [ngClass]="{'hide-header':showheader,'show-header':hideheader}">
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="toggleTitle">{{pageTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="img-nav">
  <div class="header-img">
      <img src="assets/banner/bible.jpg" />
      <div class="header-content">
        <h1>{{pageTitle}}</h1>
      </div>
  </div>

  <div padding class="format-text">
    
    <h3>Vision</h3>
    
      <ul>
          <li>To make heaven, not compromising holiness</li>
          <li>To take as many people along</li>
          <li>To raise leaders who would fulfill:

              <ul>
                  <li>Their callings and</li>
                  <li>The vision of exceeding greatness</li>
              </ul>

          </li>

          <li>To build a people manifesting the spirit of Love, Excellence, Faithfulness, Character and Integrity, who will do the following:

              <ul>
                  <li>Evangelise and positively impact the world.</li>
                  <li>Establish God's government, order and structure</li>
                  <li>Demonstrate the relevance of Christianity through contemporary and creative expression of our faith.</li>
              </ul>
          </li>
      </ul>
          
          
          
          
          
      <ion-list>
          <button ion-item (click)="openModal(pageStatement)">
              Statement Of Faith
          </button>  
          <button ion-item (click)="openModal(pageService)">
              Service Time
          </button> 
          <button ion-item (click)="openModal(pageContact)">
              Contact Us
          </button> 

        </ion-list>
          ​
          
          
          


  </div>



</ion-content>
