<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">

    <!--
    <ion-item>
      <ion-label floating>Phone Number</ion-label>
      <ion-input formControlName="phone" type="number"></ion-input>
    </ion-item>
    <div *ngIf="loginForm.controls['phone'].hasError('required') && loginForm.controls['phone'].touched" class="alert-text alert-text-danger">Phone number is required!</div>
  -->


  <ion-item>
      <ion-label floating>Email Address</ion-label>
      <ion-input formControlName="email" 
      email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required></ion-input>
    </ion-item>
    <div *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched" class="alert-text alert-text-danger">Email address is required!</div>

    <div *ngIf="loginForm.controls['email'].hasError('email') && loginForm.controls['email'].touched" class="alert-text alert-text-danger">Email address is invalid!</div>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <div *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched" class="alert-text alert-text-danger">Password is required!</div>


    <button ion-button secondary block [disabled]="!loginForm.valid">Login</button>

  </form>
</ion-content>
