<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
      <ion-item>
          <ion-label floating>Email Address</ion-label>
          <ion-input formControlName="email" 
          email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required></ion-input>
        </ion-item>
        <div *ngIf="registerForm.controls['email'].hasError('required') && registerForm.controls['email'].touched" class="alert-text alert-text-danger">Email address is required!</div>

        <div *ngIf="registerForm.controls['email'].hasError('email') && registerForm.controls['email'].touched" class="alert-text alert-text-danger">Email address is invalid!</div>

        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
          <div *ngIf="registerForm.controls['password'].hasError('required') && registerForm.controls['password'].touched" class="alert-text alert-text-danger">Password is required!</div>


          <ion-item>
              <ion-label floating>Name</ion-label>
              <ion-input formControlName="name" type="name"></ion-input>
            </ion-item>
            <div *ngIf="registerForm.controls['name'].hasError('required') && registerForm.controls['name'].touched" class="alert-text alert-text-danger">Name is required!</div>


    <ion-item>
      <ion-label floating>Phone Number</ion-label>
      <ion-input formControlName="phone" type="number"></ion-input>
    </ion-item>
    <div *ngIf="registerForm.controls['phone'].hasError('required') && registerForm.controls['phone'].touched" class="alert-text alert-text-danger">Phone number is required!</div>

    <button ion-button primary block [disabled]="!registerForm.valid">Submit</button>

  </form>
</ion-content>
