<!--
  Generated template for the GalleryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Gallery</ion-title>
    </ion-navbar>
  
  </ion-header>


<ion-content padding>

<!-- *ngFor="let video of videos | async" (click)="openVideo(video)" -->
    <ion-card *ngFor="let gallery of galleries" (click)="openAlbum(gallery)" >
      <img [src]="gallery.thumb" />
      <ion-card-content>
        <ion-card-title>
            {{ gallery.title}}
        </ion-card-title>
      </ion-card-content>
    </ion-card>


  <!--
  <ion-slides>
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image"/>
    </ion-slide>
  </ion-slides>
-->

</ion-content>
