page-gallery {
    /*
    .toolbar-background {
        background: #fff;
        border-color: transparent;
      }
    
      .slide-zoom {
        height: 100%;
      }
    
      .slide-title {
        margin-top: 2.8rem;
      }
    
      .slide-image {
        max-height: 50%;
        max-width: 60%;
        margin: 18px 0;
      }
    
      b {
        font-weight: 500;
      }
    
      p {
        padding: 0 40px;
        font-size: 14px;
        line-height: 1.5;
        color: #60646B;
    
        b {
          color: #000000;
        }
      }
      */

      .swiper-slide img {
        width: 100%;
      }

      background-color: #000;






      ion-card{
        position: relative;

        img{
            position: relative;
            z-index: 0;
        }
    }

    ion-card-title{
        font-size: 1em !important;
        margin: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 5px !important;
        font-weight: 600;
    }
    
}
