<!--
  Generated template for the GalleryDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-slides>
        <ion-slide *ngFor="let photo of photos">
          <img [src]="photo.image" class="slide-image"/>
        </ion-slide>
      </ion-slides>
</ion-content>
