<!--
  Generated template for the BiblePassagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="img-nav" [ngClass]="{'hide-header':showheader,'show-header':hideheader}">
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="toggleTitle">{{pageTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="img-nav">
  <div class="header-img">
      <img src="assets/banner/bible.jpg" />
      <div class="header-content">
        <h1>{{pageTitle}}</h1>
      </div>
  </div>

  <div class="empty-page" style="height:auto !important" *ngIf="error?.code">
    <div class="empty-page-content">
      <h6>{{error?.text}}</h6>
      <small ion-text color="info">Status: {{error?.code}}</small>
    </div>
  </div>

  <div padding>
    <h6 ion-text color="dark">{{passage?.reference}}</h6>
    <p [innerHTML]="passage?.text"></p>
  </div>



</ion-content>
