<!--
  Generated template for the AboutContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-toolbar>
        <ion-title>Contact Us</ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
              <span ion-text color="primary" showWhen="ios">Cancel</span>
              <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
          </ion-buttons>
      </ion-toolbar>
    
    </ion-header>
    
    
<ion-content padding>

  <h6>Mailing Address: </h6>
  <p no-margin>The Redeemed Christian Church of God</p>
  <p no-margin>CITY OF DAVID</p>
  <p>
      COD Church Road<br/>
      Off Ligali Ayorinde Street<br/>
      Dideolu Estate, Victoria Island <br/>
      Lagos State, Nigeria 
  </p>

  <h6>Church Office Hours: </h6>
  <p>Tuesday – Saturday 9:00AM – 5:00PM</p>

  <h6>Phone Numbers:</h6>
  <p>	0700RCCGCOD, 234-01-2703770, 234-01-2705253, 234-01-2705254, 234-01-2705255</p>


  <h6>Prayer Request Line:</h6>
  <p>	234-7035009000 (SMS ONLY)</p>

  <h6>General Email:</h6>
  <p>	information.enquiries@cityofdavidng.org</p>

  <h6>Group Visits: </h6>
  <p>	follow.up@cityofdavidng.org</p>

  <h6>Youth Ministry:</h6>
  <p>j-ville@cityofdavidng.org</p>

  <h6>Women's Ministry:</h6>
  <p>handmaidensone2one@cityofdavidng.org</p>

  <h6>Men's Ministry:</h6>
  <p>Amen@cityofdavidng.org</p>

  <h6>Prayer Request:</h6>
  <p>prayer@cityofdavidng.org</p>

</ion-content>
