<!--
  Generated template for the MyPledgesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>My Pledge</ion-title>
      </ion-navbar>
    
    </ion-header>
  
  
  <ion-content>
  
    <!---->
    <div class="empty-page" *ngIf="pledges_count == 0">
      <div class="empty-page-content">
        <h6>You have not make any pledge!</h6>
        <a [navPush]="pushPledges">Click here to make a pledge</a>
      </div>
    </div>
  
      <ion-list>
  
      <ion-item  class="avatar padded" 
      [ngClass]="{'pending':pledge.amount_paid == 0 || pledge.amount_paid == null,'partly':pledge.amount_paid > 0 && pledge.amount_paid < pledge.amount}"
      *ngFor="let pledge of pledges" (click)="pushDetails(pledge)">
        <h2>{{pledge.name}}</h2>
        <h3><strong>{{pledge.pledged_amount | number : '1.2-2'}} NGN
          <span class="no-margin" item-end float-right *ngIf="pledge.amount_paid == 0 || pledge.amount_paid == null">Pending Payment</span>
          <span class="no-margin" item-end float-right 
          *ngIf="pledge.amount_paid > 0 && pledge.amount_paid < pledge.amount">Partly Paid</span>
          <span class="no-margin" item-end float-right 
          *ngIf="pledge.amount_paid >= pledge.amount">Completed</span>
        </strong></h3>
      </ion-item>
  
      </ion-list>
  
  </ion-content>
  