<!--
  Generated template for the BulletinsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>
    <ion-navbar hideBackButton="true">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Bulletin</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>

      <div class="empty-page" *ngIf="checked && total === 0">
          <div class="empty-page-content">
            <h6>No bulletin available!</h6>
          </div>
        </div>
  
    <div padding *ngIf="total !== 0">
      <p [innerHTML]="bulletin?.post_content"></p>
    </div>
  
  
  
  </ion-content>
