<!--
  Generated template for the AboutServicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-toolbar>
        <ion-title>Service Time</ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
              <span ion-text color="primary" showWhen="ios">Cancel</span>
              <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
          </ion-buttons>
      </ion-toolbar>
    
    </ion-header>


<ion-content padding>

    <h6>Tuesday: </h6>
    <p no-margin>Digging For Gold</p>
    <p no-margin>from 	6:30PM @ Sanctuary</p>
    <hr class="format margin"/>

    <p no-margin>Holy Communion Service</p>
    <p no-margin>(First Tuesday after
        Thanksgiving Sunday)</p>
    <p no-margin>from 	6:30PM @ Sanctuary</p>
    <hr class="format margin"/>

    <p no-margin>Heritage Group</p>
    <p no-margin>from 5:45PM @ Church Office</p>
    <hr class="format margin"/>

    <h6>Wednesday: </h6>
    <p no-margin>Handmaidens</p>
    <p no-margin>(Women's Fellowship)</p>
    <p no-margin>from 	12:30-2PM @ Sanctuary</p>
    <hr class="format margin"/>

    <h6>Thursday: </h6>
    <p no-margin>Prayer, Praise & Pentecost</p>
    <p no-margin>(Except Thursday before Holy Ghost Services)</p>
    <p no-margin>from	6:30PM @ Sanctuary</p>
    <hr class="format margin"/>


    <h6>Friday: </h6>
    <p no-margin>He is Lord Praise Hour</p>
    <p no-margin>from 	12noon-1PM @ Sanctuary</p>
    <hr class="format margin"/>

    <p no-margin>Holy Ghost Service </p>
    <p no-margin>(First Friday)</p>
    <p no-margin>from 	8:00PM @ Camp</p>
    <hr class="format margin"/>

    <p no-margin>Congregational Night Vigil</p>
    <p no-margin>(Friday before the last Sunday)</p>
    <p no-margin>from 	11:00PM @ Sanctuary</p>
    <hr class="format margin"/>



    <h6>Saturday: </h6>
    <p no-margin>Saturday Morning Prayer Meeting </p>
    <p no-margin>from 	7-8:30AM  @ Sanctuary</p>
    <hr class="format margin"/>

    <p no-margin>COD Movie Theatre</p>
    <p no-margin>from 	5PM @ Junior Church Auditorium </p>
    <hr class="format margin"/>

    <p no-margin>Workers' Prayer Conference </p>
    <p no-margin>(Second Saturday)</p>
    <p no-margin>from	7AM @  	Junior Church Auditorium  </p>
    <hr class="format margin"/>



    <h6>Sunday: </h6>
    <p no-margin>Perfecting the Saints</p>
    <p no-margin>from	7:30AM  @ Sanctuary</p>
    <hr class="format margin"/>

    <p no-margin>Sunrise Service </p>
    <p no-margin>from 8-10AM  @ Sanctuary</p>
    <hr class="format margin"/>

    <p no-margin>Sunshine Service </p>
    <p no-margin>from 10:30-12:30PM  @ Sanctuary</p>
    <hr class="format margin"/>

    <p no-margin>Thanksgiving Service</p>
    <p no-margin>(Every First Sunday)</p>
    <p no-margin>from 	7:30AM @ Sanctuary</p>
    <hr class="format margin"/>

    <p no-margin>Nicodemus & CAN Sunday</p>
    <p no-margin>(Last Sunday)</p>
    <p no-margin>2 Services  Sanctuary </p>
    <hr class="format margin"/>

    <p no-margin>House Fellowships</p>
    <p no-margin>from 6-7PM  @ Homes</p>
    <hr class="format margin"/>



</ion-content>
