<!--
  Generated template for the EditAccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit Account Info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="accountForm" (ngSubmit)="editAccount(accountForm.value)">
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input formControlName="name" type="name" [(ngModel)]="name"></ion-input>
    </ion-item>
    <div *ngIf="accountForm.controls['name'].hasError('required') && accountForm.controls['name'].touched" class="alert-text alert-text-danger">Name is required!</div>

    <ion-item>
      <ion-label floating>Phone Number</ion-label>
      <ion-input formControlName="phone" type="number" [(ngModel)]="phone"></ion-input>
    </ion-item>
    <div *ngIf="accountForm.controls['phone'].hasError('required') && accountForm.controls['phone'].touched" class="alert-text alert-text-danger">Phone number is required!</div>

    <button ion-button primary block [disabled]="!accountForm.valid">Save</button>


  </form>

</ion-content>
