<ion-header class="img-nav" [ngClass]="{'hide-header':showheader,'show-header':hideheader}">
  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="toggleTitle">City Of David</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="img-nav">
  <div class="header-img">
      <img src="assets/banner/cod-home.jpg" />
  </div>
<img src="assets/banner/home-1.jpg" (click)="loadPage(pagePodCast)" width="100%" style="margin-top:4px" />
<img src="assets/banner/home-2.jpg" (click)="loadPage(pageBulletin)" width="100%" style="margin-top:4px" />
<img src="assets/banner/pledge.jpg" (click)="loadPage(pagePledges)" width="100%" />
<img src="assets/banner/livestreaming.jpg" (click)="loadPage(pageLiveStream)" width="100%" />


</ion-content>

