page-pledges {
    ion-card-content{
        padding-top: 0;
        padding-bottom: 0;
    }

    .card-content.card-content-md, .card-content.card-content-ios{
        padding: 0 16px 13px;
    }
}
