<!--
  Generated template for the PledgesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Make A Pledge</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

    <ion-card class="cursor-pointer" *ngFor="let pledge of pledges" (click)="pushDetails(pledge)">
        <img src="assets/banner/banner-2.jpg"/>
        <ion-card-content>
          <ion-card-title>
              {{pledge.name}}
            </ion-card-title>
          <p>{{pledge.amount | number : '1.2-2'}} NGN</p>
        </ion-card-content>

        
      </ion-card>
      
      
</ion-content>
