// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app. #003047

@font-face {
    font-family: OpenSans;
    src: url("../assets/fonts/OpenSans-Regular.ttf");
}

ion-app.ios, ion-app.md {
    font-family: 'OpenSans' !important;
}

.hide-header{
    transition: all .2s ease-in;
    background-color: #003047; 
}

ion-header.hide-header.header-md::after{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMUCS0gBIh/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==) !important;
}

ion-header.hide-header.header-ios .toolbar-background-ios {
    border-style: solid !important;
}

.show-header{
    transition: all .2s ease-in;
background-color: transparent;
}

html{
    line-height: 1.4
}



.font-size-20{
    font-size: 20px
}

.font-size-30{
    font-size: 30px
}

.font-size-40{
    font-size: 40px
}

.cursor-pointer{
    cursor: pointer;
}

hr.format{
    background: #eee;
}

hr.format.margin{
    margin: 10px 0
}

.info-block{
    font-size: 13px;
    font-weight: 600;
    color: #000;
}

.alert-text-danger{
    color: red;
}

form{
    ion-item{
        padding-left: 0 !important;

        .item-inner{
            padding-right: 0 !important;
        }
    }

    button{
        margin-top: 15px !important;
    }
}

.bg-warning{
    background-color: #f9e7e7;
}

.bg-info{
    background-color: #c1e3e9;
}

span.no-padding{
    padding: 0 !important
}

span.no-margin{
    margin: 0 !important
}


.theme-primary{
    .toolbar-title, .bar-button {
        color: #ffffff;
    }

    .toolbar-background {
        background-color: #003047;
    }

    ion-content {
        color: #5F5F5F; 
    }

    ion-content.img-nav .fixed-content{
        margin: 0 !important;
        display: none !important
    }

    ion-content.img-nav .scroll-content{
        margin: 0 !important;
    }

    ion-content .header-img{
        height: 200px;
        background-color: #f1f1f1;
        position: relative;
        overflow: hidden
    }

    ion-content .header-img img{
        position: absolute;
        z-index: 0;
        width: 100%
    }

    ion-content .header-img .header-content{
        position: absolute;
        bottom: 0;
        padding: 16px;
        z-index: 1;
        color: #fff
    }

    .header-content h1{
        margin: 0
    }

    ion-list ion-item{
        padding-left: 0;
        border-bottom: solid 1px #f1f1f1;
        cursor: pointer;
    }

    ion-list ion-item ion-note{
        font-size: .8em
    }

    ion-list ion-item .item-inner{
        padding-left: 8px;
        border-bottom: none !important
    }

    

    ion-item.thumbnail ion-thumbnail[item-start]{
        margin-left: 10px;
        margin-right: 0;
    }

    ion-item.thumbnail.item-ios ion-thumbnail img {
        width: 80px;
        height: 80px;
    }

    ion-item.thumbnail ion-label{
        margin-top: 0;
        white-space: normal;
    }

    ion-item.thumbnail h2{
        font-weight: 600;
        font-size: .9em;
        margin-bottom: 10px
    }

    ion-item.thumbnail.item-ios h2{
        font-size: .8em
    }

    ion-item.thumbnail h3{
        font-size: .8em;
        color: #999;
        font-weight: 400
    }

    ion-item.thumbnail.item-ios h3{
        font-size: .75em
    }

    ion-item.thumbnail h3 span{
        margin-right: 10px;
        cursor: pointer
    }

    ion-item.thumbnail h3 span ion-icon{
        font-size: 1.1em;
        position: relative;
        top: 1px
    }

    ion-item.thumbnail.item-ios span ion-icon{
        font-size: 1.3em;
        top: 2px
    }

    

    ion-item.avatar ion-avatar[item-start]{
        margin-left: 10px;
        margin-right: 0;
    }

    ion-item.avatar h2{
        font-weight: 600;
        font-size: .9em;
    }

    ion-item.avatar h3{
        font-size: .7em;
        color: #999;
        font-weight: 400
    }

    ion-item.avatar.item-ios h2{
        font-size: .83em
    }


    ion-item.avatar.padded h2{
        margin-bottom: 5px
    }

    ion-item.avatar.padded{
        padding-bottom: 5px;
        padding-top: 5px;
        border-left: solid 4px #ccc
    }

    ion-item.avatar.padded.pending{
        border-left-color: #ccc
    }
    
    ion-item.avatar.padded.pending span{
        color: #ccc;
    }

    ion-item.avatar.padded.partly{
        border-left-color: rgb(22, 182, 182)
    }

    ion-item.avatar.padded.partly span{
        color: rgb(22, 182, 182);
    }

    ion-item.avatar.padded.complete{
        border-left-color: green
    }

    ion-item.avatar.padded.complete span{
        color: green
    }
    










    ion-header.header-md.img-nav::after{
        background-image: none;
    }

    ion-header.img-nav.header-ios .toolbar-background-ios {
        border-style: none;
    }

    ion-header.img-nav ion-navbar .toolbar-background{
        background-color: transparent
    }



    .empty-page{
        position: absolute;
        width: 100%;
        height: 100%;
        display: table;

        .empty-page-content{
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            padding: 15px;
        }

        h6{
            color: #ccc;
            margin-bottom: 3px;
        }

        a{
            font-size: 12px;
            font-weight: 600;
            cursor: pointer;
        }
    }

    

    .empty-page.notify{
        p{
            margin: 5px 0
        }
    }

    .empty-page.notify.error{
        h6{
            color: red
        }
    }
}

ion-toolbar.user{
    color: #fff;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;

    .list-ios{
        margin-bottom: 16px !important;
    }

    .list-ios > .item-block:first-child {
        border-top: none;
        padding-bottom: 3px;
    }

    .list-ios > .item-block:last-child {
        border-bottom: none;
    }

    ion-label{
        margin: 0 !important
    }

    ion-list{
        padding-top: 5px;
    }

    ion-list > ion-item{
        background-color: transparent;
        color: #fff;
        border-bottom: none;
        font-size: 15px;
        min-height: 0 !important;
        padding: 5px 15px;
    }

    ion-list > ion-item:first-child{
        font-weight: 600;
        padding-bottom: 1px;
    }

    ion-list > ion-item:nth-child(2){
        padding-top: 1px;
        padding-bottom: 15px;
        border-bottom:solid 1px rgba(255, 255, 255, 0.2);
    }

    ion-list > ion-item:nth-child(3){
        padding-top: 13px; 
    }

}


.format-text{
    ul, ol{
        padding: 0;
        margin-left: 15px;
        li{
            list-style: decimal;
            padding-bottom: 2px;
            padding-top: 2px;
        }

        ul, ol{
            margin-left: 20px;
            margin-top: 5px;
            margin-bottom: 20px;

            li{
                list-style: lower-roman;
            }
        }
    }

    h6{
        font-size: 14px;
        margin-bottom: 3px;
        line-height: 1.4;
    }

    p{
        margin-top: 0;
        margin-bottom: 15px;
    }
}


/*
ion-toolbar.user{
    color: #fff;
    padding-left: 0 !important;
    padding-right: 0 !important;

    ion-icon{
        font-size: 3.5em
    }

    ul{
        padding: 5px 0 5px 0;
        margin: 0
    }

    ul li{
        list-style: none;
        display: block;
        padding: 4px 20px;
        font-size: 13px;
    }

    ul li a{
        color: #fff;
    }

    ul li:first-child{
        font-weight: 600;
        padding-bottom: 0;
    }

    ul li:nth-child(2){
        padding-top: 0;
        padding-bottom: 10px;
        border-bottom:solid 1px rgba(255, 255, 255, 0.2);
    }

    ul li:nth-child(3){
        padding-top: 10px; 
    }
}
*/