<div class="theme-primary">
  <ion-menu [content]="content">
    <ion-header >
      <ion-toolbar class="user">

        <ion-list *ngIf="auth">
          <ion-item>{{user_name}}</ion-item>
          <ion-item>{{user_email}}</ion-item>
          <ion-item menuClose (click)="pushPage(pageEditAccount)">Edit Account Info</ion-item>
          <ion-item menuClose (click)="loadPage(pageMyPledges)">My Pledges</ion-item>
          <ion-item menuClose  (click)="logout()">Log Out</ion-item>
        </ion-list>


        <ion-list *ngIf="!auth">
            <ion-item>Welcome, Guest</ion-item>
            <ion-item style="display:none"></ion-item>
            <ion-item menuClose (click)="loadPage(pageLogin)">Login</ion-item>
            <ion-item menuClose (click)="loadPage(pageRegister)">Register</ion-item>
          </ion-list>
        
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
            <ion-icon [name]="p.icon" item-start></ion-icon>
          {{p.title}}
        </button>
      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
</div>