<!--
  Generated template for the LiveStreamingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Live Streaming</ion-title>
    </ion-navbar>
  
  </ion-header>


<ion-content padding>

    <iframe [src]="video_url" frameborder="0" allowfullscreen width="100%"></iframe>

</ion-content>
