<!--
  Generated template for the PledgeDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="img-nav" [ngClass]="{'hide-header':showheader,'show-header':hideheader}">
  <ion-navbar>
    <ion-title>Make A Pledge</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="img-nav">
  <div class="header-img">
      <img src="assets/images/banner-2.jpg" />
  </div>

<div padding>
    <h2>{{pledgeDetails?.name}}</h2>
    <h5>{{pledgeDetails?.amount | number : '1.2-2'}} NGN</h5>
    <div [innerHTML]="pledgeDetails?.description"></div>
</div>

<hr class="format" no-margin />

<div class="info-block bg-info" *ngIf="viewMyPledge" padding>
  You have pledged {{pledged_amount | number : '1.2-2'}} previously <br/>
  <a class="cursor-pointer" (click)="pushMyPledgeDetails()">Click here</a> to see details
</div>

<div padding-left padding-right>
  
    <form [formGroup]="pledgeForm" (ngSubmit)="make_pledge(pledgeForm.value)">
        
        <ion-item>
          <ion-label floating>Pledge Amount</ion-label>
          <ion-input formControlName="amount" type="number" [(ngModel)]="amount"></ion-input>
        </ion-item>

        <div padding-bottom padding-top *ngIf="!auth">
            To cotinue, please login below
            <a  (click)="pushLogin()" class="cursor-pointer">
              <strong>Login</strong></a>
            and if you have not register, click here
            <a (click)="pushRegister()" class="cursor-pointer">
                <strong>Member Register</strong></a>
          </div>

        <button ion-button primary block [disabled]="!auth" >Pledge</button>

    </form>
</div>

</ion-content>
