<!--
  Generated template for the SermonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header class="img-nav" [ngClass]="{'hide-header':showheader,'show-header':hideheader}">
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="toggleTitle">{{pageTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="img-nav" no-bounce>
  <div class="header-img" style="background:url(assets/banner/podcast.jpg) no-repeat center center; background-size:cover">
    <div class="header-content">
      <h1>{{pageTitle}}</h1>
    </div>
  </div>



  <ion-card *ngFor="let video of videos | async" (click)="openVideo(video)">

      <ion-icon name="logo-youtube"></ion-icon>

    <img [src]="video.snippet.thumbnails.medium.url">

    <ion-card-content>
      <ion-card-title>
        {{ video.snippet.title }} 
      </ion-card-title>
      <p>
          {{ video.snippet.publishedAt | moment:'dddd, MMMM Do, YYYY' }}
      </p>
    </ion-card-content>
  </ion-card>





  <!--
  <ion-item>
    <ion-label stacked>Channel ID</ion-label>
    <ion-input type="text" [(ngModel)]="channelId"></ion-input>
  </ion-item>
  <button full ion-button (click)="searchPlaylists()" [disabled]="channelId === ''" color="danger">Search Playlists</button>
 
  <ion-list no-padding>
    <button ion-item *ngFor="let list of playlists | async" (click)="openPlaylist(list.id)">
      <ion-thumbnail item-start>
      <img [src]="list.snippet.thumbnails.default.url">
    </ion-thumbnail>
    <h2>{{ list.snippet.title }}</h2>
    <p>{{ list.snippet.publishedAt | date:'short' }}</p>
    </button>
  </ion-list>

  



  <div *ngFor="let post of posts">
    <ion-card class="adv-map">
      <div style="position: relative">
        <div class="sixteen-nine">
          <div class="content">
            <img src="{{post.snippet.thumbnails.high.url}}">
          </div>
        </div>
        <button fab fab-right fab-top class="fab-map" (click)="playVideo($event, post)">
          <ion-icon name='play'></ion-icon>
        </button>
      </div>
      <ion-item style="padding-top: 26px;">
        <ion-icon subtle large item-left name='disc' primary></ion-icon>
        <h2 class="item-text-wrap">{{post.snippet.title}}</h2>
      </ion-item>
      <ion-item actions>
        <button primary clear item-right>
          <ion-icon name='share'></ion-icon>
          SHARE
        </button>
      </ion-item>

    </ion-card>
  </div>
<button light>Load More...</button>




    <div id="player" class="embed-responsive embed-responsive-16by9">
    <div id="placeholder" style="width: 100%" class="embed-responsive-item"></div>
    <div class="embed-responsive-item" style="width: 100% ; z-index: 90;position: fixed; background-color: black; background: url('images/cover.png'); background-size:cover; " *ngIf="!onPlaying"></div>
    </div>
    <div id="search-form">
    <form (ngSubmit)="findVideos($event)">
                <ion-item>
                    <ion-label floating>Search Videos</ion-label>
                    <ion-input type="text" [(ngModel)]="search.params" name="search"></ion-input>
                    <button type="submit" ion-button icon-only clear item-right>
              <ion-icon name="search"></ion-icon>
            </button>
     
                </ion-item>
            </form></div>
    <div id="results">
    <div class="card-background-page">
                <ion-card *ngFor="let video of videos.items">
                    <img src="{{video.snippet.thumbnails.high.url}}" />
    <div class="card-title">
                        {{video.snippet.title}}</div>
    <div class="card-subtitle">
                        {{video.snippet.description}}</div>
    <button class="card-btn" (click)="playVideo(video.id.videoId)">
      <ion-icon name="play"></ion-icon>
    </button>
                </ion-card></div>
    </div>

  -->





</ion-content>