<!--
  Generated template for the SermonDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>sermon-details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-list>
    <button ion-item *ngFor="let video of videos | async" (click)="openVideo(video)" detail-none>
      <ion-thumbnail item-start>
      <img [src]="video.snippet.thumbnails.default.url">
    </ion-thumbnail>
    <h2>{{ video.snippet.title }}</h2>
    <p>{{ video.snippet.description }}</p>
    </button>
  </ion-list>

</ion-content>
