<!--
  Generated template for the PodcastDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Podcast</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

 <!--
  <ion-list>
    <audio-track #audio *ngFor="let track of myTracks" [track]="track" (onFinish)="onTrackFinished($event)">
      <ion-item>
        <ion-thumbnail item-left>
          <img src="{{audio.art}}">
          <audio-track-play dark [audioTrack]="audio">
            <ion-spinner></ion-spinner>
          </audio-track-play>
        </ion-thumbnail>
        <div item-content style="width:100%">
          <p><strong>{{audio.title}}</strong> &#x26AC; <em>{{audio.artist}}</em></p>
          <audio-track-progress-bar duration progress [audioTrack]="audio"></audio-track-progress-bar>
          <em style="font-size:.5em">Track ID: {{audio.id}}</em>
        </div>
      </ion-item>
    </audio-track>
  </ion-list>
-->

<ion-list>
    <audio-track #track [track]="singleTrack">
        <ion-item [audioTrack]="track" class="thumbnail" padding-left>
          <ion-thumbnail item-left>
            <img src="{{track.art}}">
            <audio-track-play light [audioTrack]="track">
              <ion-spinner></ion-spinner>
            </audio-track-play>
          </ion-thumbnail>
    
          <h2 style="margin-bottom:2px">{{track.title}}</h2>
          <p style="font-size:.7em">{{track.artist}}</p>
          <p>
            <audio-track-progress [audioTrack]="track"></audio-track-progress>
          </p>
        </ion-item>
      </audio-track>


      <ion-item  class="avatar">
          <ion-avatar item-start>
              <img src="assets/images/2x1_promofearless.png">
            </ion-avatar>
    
        <h2>What we want and What we’ll do</h2>
        <h3>Pastor John Amadi</h3>
        <ion-note item-end>4:56</ion-note>
      </ion-item>
    
    
      <ion-item  class="avatar">
          <ion-avatar item-start>
              <img src="assets/images/2x1slayinggiants.png">
            </ion-avatar>
    
        <h2>Browser support is reasonably good and it's merely cosmetic</h2>
        <h3>Pastor John Amadi</h3>
        <ion-note item-end>4:56</ion-note>
      </ion-item>
    
      <ion-item  class="avatar">
          <ion-avatar item-start>
              <img src="assets/images/series.startover.2x1_2000_1000_90_c1.jpg">
            </ion-avatar>
    
        <h2>Start Over</h2>
        <h3>Pastor John Amadi</h3>
        <ion-note item-end>4:56</ion-note>
      </ion-item>


      </ion-list>
    
</ion-content>


